<div class="task-list-container">
    <input [(ngModel)]="newTaskDescription" placeholder="Add new task" />
    <button (click)="addTask()">Add Task</button>
  
    <ul>
      <li *ngFor="let task of tasks">
        {{ task.description }}
        <button (click)="toggleTaskCompletion(task)">
          {{ task.completed ? 'Mark as Incomplete' : 'Mark as Complete' }}
        </button>
      </li>
    </ul>
  </div>
  