.task-list-container {
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
  
        &:hover {
          background-color: #f4f4f4;
        }
      }
    }
  
    input {
      padding: 8px;
      margin: 10px 0;
      width: 100%;
    }
  
    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  