.task-details {
    padding: 20px;
    border-left: 1px solid #ccc;
    background-color: #f9f9f9;
  
    h3 {
      margin-top: 0;
    }
  
    label {
      display: block;
      margin-top: 10px;
    }
  
    input[type="text"], input[type="date"], textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
    }
  
    input[type="checkbox"] {
      margin-top: 5px;
    }
  
    button {
      display: block;
      width: 100%;
      padding: 10px 0;
      margin-top: 15px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  