<p>right-sidebar works!</p>
<div *ngIf="task" class="task-details">
    <h3>Task Details</h3>
    <div>
      <label>Description:</label>
      <input type="text" [(ngModel)]="task.description">
    </div>
    <div>
      <label>Details:</label>
      <textarea [(ngModel)]="task.details"></textarea>
    </div>
    <div>
      <label>Due Date:</label>
      <input type="date" [(ngModel)]="task.dueDate">
    </div>
    <div>
      <label>Completed:</label>
      <input type="checkbox" [(ngModel)]="task.completed">
    </div>
    <button (click)="updateTask()">Update Task</button>
    <button (click)="deleteTask()">Delete Task</button>
  </div>
  