<div class="left-sidebar">
    <div class="new-task-list">
      <input [(ngModel)]="newTaskListName" placeholder="New Task List Name">
      <button (click)="createTaskList()">Create Task List</button>
    </div>
    <ul>
      <li *ngFor="let taskList of taskLists" (click)="selectTaskList(taskList)">
        {{ taskList.name }}
        <button (click)="deleteTaskList(taskList); $event.stopPropagation();">Delete</button>
      </li>
    </ul>
  </div>
  