.left-sidebar {
    background-color: #f2f2f2;
    padding: 20px;
    width: 250px;  // Or any appropriate width
    min-height: 100vh;
  
    .new-task-list {
      margin-bottom: 20px;
    }
  
    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
    }
  
    button {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: #45a049;
      }
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
  
        &:hover {
          background-color: #e8e8e8;
        }
  
        button {
          float: right;
          padding: 5px 10px;
        }
      }
    }
  }
  